
<div>
<h1>Register Form</h1><br/>
    <label >First Name: </label>
  <input type="text" name="user" ngModel><br/>

  <label >Last Name: </label>
  <input type="text" name="user" ngModel><br/>

  <label >UserName: </label>
  <input type="text" name="user" ngModel><br/>


  <label>Password: </label>
  <input type="Password" name="pass" ngModel ><br/><br/>

  <input type="submit" value="Register"  class="btn btn-success" />
  <input type="reset" value="Reset"  class="btn btn-success" />
</div>




