<div>
    <h1>My portfolio</h1><br/>
    <hr/>
    <h3>Welcom Back</h3>
    
    <label >Contact Name </label>
  <input type="text" #skill ><br/>
 
  <label >Phone Number </label>
  <input type="number" name="number" ><br/>

  <input type="button" value="add " (click)="addSkill(skill.value)" class="btn btn-success"/>

</div>

<br/>
portfolio<br/>


<table border="1">
  <tr>
    
      <th>Contact Name</th>
      <th>Phone Number</th>
  </tr>
 
    <tr>
      <td>Tam Smith</td>
      <td>1234567890</td>

  </tr>
</table>



}
